@import "tailwindcss";

@font-face {
  font-family: "DigitalDisco";
  src: url("/fonts/DigitalDisco-thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "DigitalDisco";
  src: url("/fonts/DigitalDisco.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-digital-disco: "DigitalDisco", sans-serif;
  --color-custom-blue: #0356D1;
  --bg-images: url('/images/country.png')

  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: DigitalDisco, sans-serif;
}
